@font-face {
  font-family: Editorial;
  src:url(font/EditorialNew-Thin.otf);
}

body {
  background-color: rgb(0, 0, 0);
  font-size: 2em;
  font-family: Editorial;
}

h1 {
  font-family: Editorial;
  font-size: 1em;
  color: #00ff08;
  text-align: center;
}




.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  height: 150px;
  width: 800px;
  font-family: Editorial;
  font-size: 4em;

}

.button1 {
  background-color: black; 
  color: rgb(94, 255, 0); 
}

.button1:hover {
  background-color: rgb(94, 255, 0);
  color: rgb(0, 0, 0);
}

.button2 {
  background-color: black;
  color: rgb(94, 255, 0);
}

.button2:hover {
  background-color: rgb(94, 255, 0);
  color: white;
}

.button3 {
  background-color: black;
  color: rgb(94, 255, 0);
}

.button3:hover {
  background-color: rgb(94, 255, 0);
  color: white;
}

.button4 {
  background-color: black;
  color: rgb(94, 255, 0);
}



p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
    color: red;
    text-align: center;
  } 


  #container{
    width: 600px;
    height: 600px;
    background-color: #EEE;
    position: relative;
}


.scale {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.3s ease-in-out;   /* for soft motion*/
}
.scale:hover {
  transform: scale(2);
  -webkit-transform: scale(5);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
}
.img {width:325px; height:280px; overflow:hidden }   /* scale inner image without escaping parent image */


/* DROP DOWN */

/* Style The Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}


.center {
  margin: auto;
  padding: 10px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  text-align: center;