/* --------- 문단설정 ---------*/

* {
  font-family: "Courier New", monospace;
  font-size: 1em;
  box-sizing: border-box;
}

h1 {
  font-family: "Courier New", monospace;
  font-size: xxx-large;
  padding: 15px;
  text-align: center;
}

p {
  padding-left: 15px;
  padding-right: 15px;
}

.dropshadow {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.24));
}

.p_title {
  font-family: "Courier New", monospace;
  font-weight: 400;
  font-size: xx-large;
}

.p1-1 {
  padding-top: 4em;
  font-size: xx-large;
  text-align: center;
}

.p1-2 {
}

.p2-1 {
  padding-top: 4em;
  font-size: xx-large;
  text-align: center;
}

.p2-2 {
}

/* --------- 박스,컨테이너 ---------*/

#container {
  display: flex; /*flex 컨테이너 생성*/
  flex-direction: row; /*default value*/
  margin: -9px;
  padding: 0;
  height: 100vh;
}

.sideleft {
  width: 10%;
  flex-basis: 200px;
  flex: 1 1 auto;
  height: 100vh;
  text-align: center;
  padding-top: 3em;
  padding-right: 20px;
  font-size: xx-large;
  background-color: black;
  color: white;
  overflow-y: hidden;
  overflow-x: hidden;
}

.sideright {
  width: 10%;
  flex-basis: 200px;
  flex: 1 1 auto;
  height: 100vh;
  text-align: center;
  padding-top: 3em;
  padding-left: 20px;
  font-size: xx-large;
  overflow-y: hidden;
  overflow-x: hidden;
}

.interviewboxleft {
  width: 40%;
  max-width: 700px;
  flex: 4 1 auto;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: black;
  color: white;
}

.interviewboxleftsvg {
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.interviewboxright {
  width: 40%;
  max-width: 700px;
  flex: 4 1 auto;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.interviewboxleft img {
  position: relative;
  float: right;
  transform: translate(50%);
  margin-left: -45%;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 90%;
}

.interviewboxleft img:hover {
  transition: all 0.5s linear;
  transform: scale(1);
}

.interviewboxleft img:first-child {
  position: relative;
  float: right;
  transform: translate(50%);
  overflow-x: hidden;
  overflow-y: scroll;

  width: 200%;
}

.interviewboxright img {
  position: relative;
  float: left;
  transform: translate(-50%);
  overflow-x: hidden;
  overflow-y: scroll;
  margin-right: -45%;
  width: 90%;
}

.interviewboxright img:hover {
  transition: all 0.5s linear;
  transform: scale(1);
}

.interviewboxright img:first-child {
  position: relative;
  float: left;
  transform: translate(-50%);
  overflow-x: hidden;
  overflow-y: scroll;

  width: 200%;
}

.sideleft::-webkit-scrollbar {
  display: none;
}
.sideright::-webkit-scrollbar {
  display: none;
}

.interviewboxleft::-webkit-scrollbar {
  display: none;
}
.interviewboxright::-webkit-scrollbar {
  display: none;
}

.name1 {
  position: sticky;
  position: -webkit-sticky;
  top: 2em;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  mix-blend-mode: exclusion;
  width: 100%;
  text-align: center;
}

.name2 {
  position: sticky;
  position: -webkit-sticky;
  top: 2em;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(0, 0, 0);
  mix-blend-mode: exclusion;
  width: 100%;
  text-align: center;
}

/* -----------------link-------------------- */

a.left {
  color: rgb(255, 255, 255);
  text-decoration-line: none;
}

a.left:link {
  color: rgb(255, 255, 255);
  text-decoration-line: none;
}

a.left:visited {
  color: rgb(255, 255, 255);
}

a.left:hover {
  color: rgb(30, 255, 0);
}

a.left:active {
  color: rgb(255, 255, 255);
  text-decoration-line: none;
}

a.left {
  color: rgb(255, 255, 255);
  text-decoration-line: none;
}

a.right:link {
  color: rgb(0, 0, 0);
  text-decoration-line: none;
}

a.right:visited {
  color: rgb(0, 0, 0);
}

a.right:hover {
  color: rgb(255, 0, 111);
}

a.right:active {
  color: rgb(0, 0, 0);
  text-decoration-line: none;
}

/* img */

.a img {
  transition: all 0.2s linear;
}
.a:hover img {
  transform: scale(1);
}

/*----- main page ------*/

.main_a {
  width: 50%;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: black;
  color: white;
}

.main_b {
  width: 50%;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.main_a_bottom_text {
  position: fixed;
  bottom: 1em;
  width: 50%;
  text-align: center;
  font-family: "Courier New", monospace;
  font-size: xxx-large;
  padding: 15px;
  text-align: center;
}

.main_a img {
  height: 80vh;
  position: relative;
  float: right;
  transform: translate(50%);
  overflow-x: hidden;
  overflow-y: hidden;
}

.main_b img {
  height: 80vh;
  position: relative;
  float: left;
  transform: translate(-50%);
  overflow-x: hidden;
  overflow-y: hidden;
}
