* {
  font-family: 'Courier New', Courier, monospace;
  background-color: blanchedalmond;
}

body {
  font-size: 72pt;
  font-style: monospace;
}

#container {
  flex-direction: row; /*default value*/
  margin: -9px;
  padding: 0;
  height: 100vh;
}

.box {
  position: relative;
  height: 30px;
  width: 30px;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  float:left;
  margin-right: -1px;
  margin-bottom: -1px;
  overflow: hidden;
}
.box img {
  position: absolute;
  width: 120%;
  height: 120%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.box2 {
  height: 30px;
  width: 30px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  float:left;
  margin-right: -1px;
  margin-bottom: -1px;
}

.box2 img
{
  position: absolute;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
}
