@font-face {
  font-family: Signal;
  src:url(font/Signal2_reg.otf);
}
@font-face {
  font-family: Signal_slow;
  src:url(font/Signal2_reg.otf);
}
@font-face {
  font-family: Signal_fast;
  src:url(font/Signal2_reg.otf);
}

body{
  padding: 0.5em;
  line-height: 0em;
  letter-spacing: 0.1em;
  word-wrap: break-word;
  font-family: Signal;
  /*font-family: monospace;*/
  font-size: 72pt;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: white;
}

img {
  display: "none";
  max-width: 100%;
}



.wrapper {
  width: 92px;
  height: 110px;
  position: relative;
  display: inline-block;
}
.letter {
  font-size: 125px;
  text-align:center;
}
.cover {
  background-color: rgb(0, 0, 0);
  width: 92px;
  height: 110px;
  position: absolute;
  top: -50px;
  left: 1px;
  opacity: 1;
  animation-name: slide;
  animation-duration: 4s;
  transform-origin: right;
  -webkit-animation-fill-mode: both;
}

@keyframes slide {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}